<html lang="en">
  <head>
    <title>Mission Report</title>
    <style>
      #page {
        margin-top: 45mm;
      }
      body {
        font-family: Serif, serif;
        font-size: 12px;
      }
      .header {
        font-weight: bold;
        margin-bottom: 15px;
      }

      .spacing {
        margin-left: 25px;
        text-transform: capitalize;
      }

      .data {
        font-weight: bold;
        text-decoration: underline;
        padding: 0 7px;
      }
    </style>
  </head>
  <body>
    <div
      id="pageHeader"
      style="
        text-transform: uppercase;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 30px;
      "
    >
      <table style="width: 100%; margin-bottom: 13px">
        <tbody>
          <tr>
            <td style="width: 25%; text-align: center">{{{pictureHtml}}}</td>
            <td style="width: 50%; text-align: center">
              <div style="font-size: 25px; font-weight: bold">
                REPUBLIC OF RWANDA
              </div>
              <div style="font-size: 25px; font-weight: bold">
                NATIONAL PUBLIC PROSECUTION AUTHORITY
              </div>
              <div style="font-size: 25px; font-weight: bold">
                ORGANE NATIONAL DE POURSUITE JUDICIAIRE
              </div>
              <div style="font-size: 25px; font-weight: bold">
                UBUSHINJACYAHA BUKURU
              </div>
            </td>
            <td style="width: 25%; text-align: center">{{{pictureHtml2}}}</td>
          </tr>
        </tbody>
      </table>
      <table style="width: 100%">
        <tbody>
          <tr>
            <td style="width: 15%"></td>
            <td style="width: 25%">
              <div
                style="font-size: 20px; font-weight: bold; text-align: center"
              >
                P.O. Box 1328
              </div>
              <div style="font-size: 20px; font-weight: bold">
                E-mail: info@nppa.gov.rw
              </div>
            </td>
            <td style="width: 15%"></td>
            <td style="width: 35%">
              <div style="font-size: 20px; font-weight: bold">
                Kigali – RWANDA
              </div>
              <div style="font-size: 20px; font-weight: bold">
                <a href="https://www.nppa.gov.rw/" target="_blank"
                  style="color: black;">Web site: www.nppa.gov.rw</a
                >
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div id="page" style="padding: 70px 70px">
      <hr
        style="
          width: 90%;
          text-align: center;
          border-style: double;
          background-color: rgb(82, 56, 39);
        "
      />
      <hr
        style="
          width: 90%;
          text-align: center;
          border-style: double;
          height: 0.2cm;
          background-color: rgb(82, 56, 39);
        "
      />
 
      <div style="padding: 50px">
      
        <div style="font-size: 20px;margin-bottom: 25px;text-align: center;font-weight: bolder;      ">
          <u>{{requestType}}</u>
        </div>
      </div>
    </div>
  </body>
</html>
